* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    cursor: none;
}

.cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    background-color: #fff;
    mix-blend-mode: difference;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 8vw;
    position: fixed;
    width: 100%;
    mix-blend-mode: difference;
    z-index: 9;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 3.5vw;
}

.nav-right h4 {
    text-transform: uppercase;
    font-size: 0.9vw;
    color: #fff;
}

nav i {
    font-size: 1.5vw;
    color: white;
    display: none;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}




/* .main{

} */
.page1 {
    height: 100vh;
    width: 100%;
    position: relative;
}

.page2 {
    height: 100vh;
    width: 100%;
    position: relative;
    /* color: white; */
    padding: 8vw 5vw;
}

.page2 h2 {
    font-size: 1.5vw;
    letter-spacing: 4px;
    word-spacing: 5px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.page2-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vw;
}

.page2-left {
    height: 400px;
    width: 42%;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.blur {
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.325);
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 10;

}

.page2-left img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.page2-right {
    height: 400px;
    width: 45%;
}

.page2-right h1 {
    font-size: 3vw;
    font-weight: 500;
}

.page2-right p {
    font-size: 1.3vw;
    font-weight: 300;
    margin: 2vw 0;
}


.page2-right button {
    font-size: 1.1vw;
    font-weight: 500;
    padding: 14px 30px;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: transparent;

}